.wrapper {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.wrapper-1600 {
    width: 100%;
    max-width: var(--header-width, 1600px);
    padding: 0;
}

@media (max-width: 1600px) {
    .wrapper-1600 {
        padding: 0 40px;
    }
}

@media screen and (max-width: 1440px) {
    .wrapper {
        max-width: 1440px;

        padding: 0 40px;
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        max-width: 768px;

        padding: 0 14px;
    }

    .wrapper-1600 {
        padding: 0 14px 0;
        margin-bottom: 40px;
    }
}
